/*
@font-face {
	font-family: 'Montserrat';
	src: url('../font/Montserrat/Montserrat-regulier.ttf');
}
*/

/* ATELIER COULEUR :
rose barbapapa :	#f9e7e7;
orange : 			#d36135;
vert lime :			#7fb069;
bleu nuit :			#13262f;
bleu ciel gris :	#6b818c;
noir verdatre:		#1f2421;
*/

html, body{
	margin: 0;
	background-color: #f7ece1;
	font-size: 16px;
	font-family: 'Montserrat','Manjari', sans-serif;
}

/*TOP title*/
#top{
	margin: 0;
	padding: 16px;
	color: #1f2421;
	background-color: #6b818c;
	border: solid 7px #1f2421;
	text-align: center;
}
#hp-title{
	margin: 0;
	padding: 15px 0;
	font-family:'Montserrat', 'Manjari', sans-serif;
	font-size: 2.4em;
}
#sub_title{
	font-family: 'Montserrat','Manjari', sans-serif;
	font-size: 1em;
}
/*TOP title*/

/* header - navbar */
#header{
	height: 75px;
	margin: 0;
	padding: 0;
}
#bloc-citation{
	margin-right: auto;
}
#text-citation{
	padding: 1.5rem;
}
#navbar{
	display: flex;
	height: 100%;
	margin: 0;
	padding: 0;
}
.nav-menu{
	padding: 1.5rem;
	height: 100%;
	border-top: 0;
	border-bottom: 0;
	border-left: 1px solid #1f2421;
	text-align: center;
	background-color: #6b818c;
	color: white;
}
.nav-menu:hover{
	background-color: ;
	color: #1f2421;
}
a:hover{
	text-decoration: none;
}

#logo{
	width: 65px;
	height: 65px;
	margin: auto;
}

/* header - navbar */

/* background-image & vidéo */
.background-img{
	background-repeat: repeat-x;
	background-position: right;
	display: flex;
  	align-items: center;
	height: 400px;
	color: white;
	max-width: 100%; 
	margin: 0;
}
#hp-section-1{
	background-image: url('../img/boxing.jpg');
}
#img-hp{
	width: 100px;
	height: auto;
}
#background-color-text{
  background-color: rgba(85, 85, 85, .75);
  padding: 10px 20px 10px 20px;
  height: 260px;
  text-align: center;
}
#title-h1{
	font-size: 2.6em;
	padding-top: 15px;
}
#sub-h1-p{
	max-width: 90%;
	margin: auto;
	font-size: 1em;
}
#main-page-bloc-citation{
	height: 65px;
}
#br-responsive{
	display: none;
}
#showVideo{
	display: none;
	max-height: 400px;
}
#video{
	margin: auto;
}
#button-video{
	display: none;
	position: absolute;
	right: 0;
	height: 20px;
	width: 20px;
	padding: 1px;
	color: white;
}
#span-video:hover{
	font-weight: bold;
}
#hp-section-3{
	background-image: url('../img/girl.jpg');
}
#hp-section-2{
	min-height: 400px;
}
.profil-picture{
	background-color: red;
	border-radius: 10%;
	height: 150px;
	width: 125px;
	margin: auto;
	margin-top: 125px;
	border: 2px solid #fff000;
}
@media screen and (max-width: 1220px)
{
	/*TOP HEADER*/
	#title-h1{
		font-size: 2.2em;
		padding-top: 20px;
	}
	#sub-h1-p{
		max-width: 90%;
		font-size: 0.9em;
	}/*	* * * * FIN TOP HEADER*/
	#text-citation{
		padding: 0.85rem;
	}
	#br-responsive{
		display: block;
	}
	#hp-section-3{
		background-position: left 65% top 50%;
	}
}
@media screen and (max-width: 992px) /* COL-MD */
{
	#title-h1{
		font-size: 1.6em;
		padding-bottom: 10px;
	}
	#sub-h1-p{
		font-size: 0.8em;
		line-height: 1.6em;
	}
	.profil-picture{
		margin-top: 33px;
	}
}
@media screen and (max-width: 900px){
	#text-citation{
		display: none;
	}
}
@media screen and (max-width: 575px){
	#header{
		height: auto;
	}
	#navbar{
		flex-direction: column;
	}
	.nav-menu{
		border-left: 0;
		border-top: 1px solid #1f2421;
	}
	#bloc-citation{
		display: none;
	}
	#hp-section-1{
		background-position: right 15% top 0%;
	}
	#second-image{

	}
	#title-h1{
		padding-top: 30px;
	}
}

@media screen and (max-width: 460px)
{
	#title-h1{
		padding-top: 5px;
	}
}
/* Background-image + fond transparent & reponsive */

/* MAIN-PAGE */

/* MAIN-PAGE END */


/*	^^	||_**_CONTACT_PAGE_**_||	^^	*/
#background-main-img{
	background-image: url('../img/texture-formation.jpg');
}
#map{
	height: 400px;
	width: 100%;
	background-color: white;
}
#main-page{
	padding-top: 35px;
	padding-bottom: 35px;
}
#bloc-contact-top{
	max-width: 650px;
	height: 150px;
	margin: auto;
	margin-bottom: 30px;
	padding: 25px 15px 25px 15px;
	text-align: center;
	background-color: white;
}
#formulaire{
	max-width: 500px;
	margin: auto;
}
.checkbox-style{
	border-radius: 80%;
}
/**	*	* FORMULAIRE DE CONTACT	*	*	*/
#radio-input-margin{
	margin-right: 30px;
}
label{
	font-family: 'Manjari', sans-serif;
}
.form-section{
	margin-bottom: 20px;
}
.align-label{
	margin-left: 25px;
}
#email-info{
	margin-left: 65px;
}
@media screen and (max-width: 500px){
	.form-control{
		width: 90%;
		margin: auto;
	}
}
/**	*	* FORMULAIRE DE CONTACT	*	*	*/

/*	^^	||_**_CONTACT_PAGE_**_||	^^	*/